html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
}

.palette {
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
  display: flex;
  transition: left 200ms ease-out;
}

.column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.row {
  flex: 1 1 0;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 14px;
  padding: 12px;
}

.help {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms ease-out;
  transform: translateX(-140px);
}

.help-card {
  width: 160px;
  padding: 20px;
  transition: transform 200ms ease-out;
  transform: translateX(-100%);
}

.help:hover .help-card {
  transform: translateX(0%);
}

.help:hover {
  transform: translateX(0);
}

.help:hover + .palette {
  left: 200px;
}

code {
  font-family: monospace;
  padding: 2px 4px;
  background: rgba(255, 0, 0, 0.1);
  color: #f00;
  border-radius: 3px;
}
