<div class="help">
  <div class="help-card">
    <p><code>up</code> <code>down</code><br/> change row lightness</p>
    <p><code>left</code> <code>right</code><br/> change column hue</p>
    <p><code>[</code> <code>]</code><br/> change saturation</p>
    <p><code>&lt;</code> <code>&gt;</code><br/> change hue shift</p>
    <p><code>shift</code><br/> hold for 10x</p>
  </div>
</div>

<div class="palette">
  {{#each hs as |hue x|}}
    <div class="column">
      {{#each ls as |lightness y|}}
        {{color-cell hue=hue lightness=lightness saturation=s shift=shift saturationShift=saturationShift action=(action "setCell" x y)}}
      {{/each}}
    </div>
  {{/each}}
</div>
